@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to right, #134E5E, #71B280);
  z-index: -1;
}

* {
  font-family: 'Mukta', sans-serif;
}